nodeRedFlow.json
[{"id":"de078d59.2bbb","type":"http in","z":"d8335bf3.6ab008","name":"","url":"/noderedlist","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["c96d7d0f.14835"]]},{"id":"999b95c9.066b08","type":"http response","z":"d8335bf3.6ab008","name":"","statusCode":"","headers":{},"x":750,"y":100,"wires":[]},{"id":"c96d7d0f.14835","type":"http request","z":"d8335bf3.6ab008","name":"","method":"GET","ret":"obj","url":"localhost:3000/listtablecontent","tls":"","x":450,"y":100,"wires":[["999b95c9.066b08"]]},{"id":"b6ef7fa1.1b691","type":"http in","z":"d8335bf3.6ab008","name":"","url":"/add","method":"get","upload":false,"swaggerDoc":"","x":158.5,"y":203,"wires":[["bba1feb6.ea188"]]},{"id":"abb4dfc7.52c84","type":"http response","z":"d8335bf3.6ab008","name":"","statusCode":"","headers":{},"x":750,"y":200,"wires":[]},{"id":"bba1feb6.ea188","type":"function","z":"d8335bf3.6ab008","name":"","func":"var toAdd = msg.req.query;\nconsole.log(toAdd);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["c783b30b.c884e"]]},{"id":"c783b30b.c884e","type":"http request","z":"d8335bf3.6ab008","name":"","method":"PUT","ret":"obj","url":"localhost:3000/firstname={{{req.query.firstname}}}&lastname={{{req.query.lastname}}}","tls":"","x":530,"y":200,"wires":[["abb4dfc7.52c84"]]}]
