nodeRedFlow.json
[{"id":"de078d59.2bbb","type":"http in","z":"d8335bf3.6ab008","name":"","url":"/noderedlist","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["c96d7d0f.14835"]]},{"id":"999b95c9.066b08","type":"http response","z":"d8335bf3.6ab008","name":"","statusCode":"","headers":{},"x":750,"y":100,"wires":[]},{"id":"c96d7d0f.14835","type":"http request","z":"d8335bf3.6ab008","name":"","method":"GET","ret":"obj","url":"localhost:3000/listtablecontent","tls":"","x":450,"y":100,"wires":[["999b95c9.066b08"]]},{"id":"b6ef7fa1.1b691","type":"http in","z":"d8335bf3.6ab008","name":"","url":"/add","method":"get","upload":false,"swaggerDoc":"","x":158.5,"y":203,"wires":[["bba1feb6.ea188"]]},{"id":"abb4dfc7.52c84","type":"http response","z":"d8335bf3.6ab008","name":"","statusCode":"","headers":{},"x":750,"y":200,"wires":[]},{"id":"bba1feb6.ea188","type":"function","z":"d8335bf3.6ab008","name":"queryLog","func":"var toAdd = msg.req.query;\nconsole.log(toAdd);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["c783b30b.c884e"]]},{"id":"c783b30b.c884e","type":"http request","z":"d8335bf3.6ab008","name":"","method":"PUT","ret":"txt","url":"localhost:3000/firstname={{{req.query.firstname}}}&lastname={{{req.query.lastname}}}","tls":"","x":530,"y":200,"wires":[["abb4dfc7.52c84"]]},{"id":"b1df7d3d.200b4","type":"mqtt in","z":"d8335bf3.6ab008","name":"","topic":"test","qos":"2","broker":"caadbfff.5e21a","x":150,"y":320,"wires":[["7f07f949.47e398"]]},{"id":"7f07f949.47e398","type":"function","z":"d8335bf3.6ab008","name":"MQTTLog","func":"console.log(\"MQTT Payload:\", msg);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[[]]},{"id":"caadbfff.5e21a","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
